.movies-card-list{
  width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movies-card-list__container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 32px;
  margin: 0 0 80px 0;
}

.movies-card-list__more{
  width: 320px;
  height: 36px;
  background: #F9F9F9;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity .3s ease-in;
}

.movies-card-list__more:hover{
  opacity: .6;
}

@media screen and (max-width: 1200px){
  .movies-card-list{
    width: calc(100% - 60px);
  }

  .movies-card-list__container{
    width: 1057px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1100px){
  .movies-card-list__container{
    width: 850px;
  }
}

@media screen and (max-width: 906px){
  .movies-card-list__container{
    width: 708px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 36px;
  }
}

@media screen and (max-width: 760px){
  .movies-card-list__container{
    width: 570px;
  }
}

@media screen and (max-width: 610px){
  .movies-card-list__container{
    width: 339px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 425px){
  .movies-card-list{
    width: calc(100% - 20px);
  }

  .movies-card-list__container{
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }
}


