.form{
  width: 396px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.form__logo-img{
  width: 38px;
  height: 38px;
  margin: 70px 0 40px 0;
}

.form__title{
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  margin: 0 0 40px 0;
  padding: 0;
}

.form__button{
  width: 100%;
  height: 45px;
  background: #3456F3;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 69px 0 16px 0;
}

.form__button_margin_large{
  margin: 179px 0 16px 0;
}

.form__text{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form__subtitle{
  width: max-content;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #A0A0A0;
  margin: 0 6px 0 0;
  padding: 0;
}

.form__link{
  display: block;
  width: max-content;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #3456F3;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
