.form{
  width: 396px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.form__logo-img{
  width: 38px;
  height: 38px;
  margin: 70px 0 40px 0;
}

.form__title{
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  margin: 0 0 40px 0;
  padding: 0;
}

.form__fieldset{
  margin: 0 0 20px 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.form__label{
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #A0A0A0;
}

.form__input{
  width: 100%;
  height: 46px;
  background: #F9F9F9;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  padding: 0 0 0 15px;
  border: none;
  outline: none;
  margin: 0 0 10px 0;
}

.form__input_color_red{
  color: #FF3055;
}

.form__span{
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: #FF3055;
  display: none;
}

.form__span_enable{
  display: block;
}

.form__button{
  width: 100%;
  height: 45px;
  background: #3456F3;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 69px 0 16px 0;
}

.form__button_margin_large{
  margin: 179px 0 16px 0;
}

.form__text{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form__subtitle{
  width: max-content;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #A0A0A0;
  margin: 0 6px 0 0;
  padding: 0;
}

.form__link{
  display: block;
  width: max-content;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #3456F3;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}