.portfolio{
  width: 1140px;
}

.portfolio__title{
  font-size: 18px;
  font-weight: 400;
  color: #A0A0A0;
  line-height: 1.11;
  margin: 0 0 50px 0;
  padding: 0;
}

.portfolio__items{
  padding: 0;
  margin: 0;
}

.portfolio__item{
  margin: 0 0 20px 0;
  padding: 0 0 19px 0;
  list-style-type: none;
  margin-bottom: 20px;
  border-bottom: .5px solid #E8E8E8;
}

.portfolio__item:last-child{
  margin: 0;
  padding: 0;
  border: none;
}

.portfolio__link{
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.67;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.portfolio__arrow{
  background-image: url('../../images/portfolio-arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

