.main{
  width: 100%;
}

.main__header{
  margin: 0 auto 0 auto;
}

.main__promo{
  margin-top: -74px;
}

.main__about-project{
  margin: 110px auto 110px auto;
}

.main__about-me{
  margin: 110px auto 100px auto;
}

.main__portfolio{
  margin: 0 auto 125px auto;
}