.footer{
  width: 100%;
}

.footer__container{
  width: 1140px;
  height: 172px;
  margin: 0 auto 0 auto;
}

.footer__title{
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  color:#A0A0A0;
  text-align: center;
  padding: 79px 0 20px 0;
  margin: 0 0 20px 0;
  border-bottom: .5px solid #E8E8E8;
}

.footer__row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__copyright{
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  margin: 0;
  padding: 0;
}

.footer__items{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.footer__item{
  margin: 0 20px 0 0;
  padding: 0;
  list-style: none;
}

.footer__link{
  font-size: 13px;
  font-weight: 400;
  line-height: 1.21;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.footer__item:last-child{
  margin: 0;
}