.nav-tab__link{
  border: none;
  background: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-right: 30px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.nav-tab__button{
  border: none;
  height: 32px;
  width: 76px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 3px;
  background-color: #2BE080;
  color: #000000;
  margin-right: 0;
  cursor: pointer;
}

.nav-tab__nav-link{
  border: none;
  background: none;
  margin-right: 30px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}

.nav-tab__nav-link_active{
  font-weight: 500;
}

.nav-tab__profile{
  width: 100px;
  height: 32px;
  border: 2px solid rgba(170, 170, 170, .2);
  box-sizing: border-box;
  border-radius: 50px;
  background: none;
  cursor: pointer;
  outline: none;
}

.nav-tab__profile-text{
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}

.nav-tab__profile-text::before{
  content: url('../../images/nav-tab-icon.svg');
  width: 12px;
  height: 12px;
  margin: 2px 7px 0 0;
}