.nav-tab__link{
  border: none;
  background: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-right: 30px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.nav-tab__button{
  border: none;
  height: 32px;
  width: 76px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 3px;
  background-color: #2BE080;
  color: #000000;
  margin-right: 0;
  cursor: pointer;
}

